
.crud_button {
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .crud_button:hover{
    background-color: #0056b3;
  }
  .input_registro {
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; /* Espaciado interno */
    width: 50%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  .espacio_5px {
    height: 10px; /* Espacio vertical entre elementos */
    width: 60%;
}
.mi_clase{
  display: block;
  /* background-color: green; */
  align-items: center;
  width: 100%;
}
.posicion_boton_grabar_datospersonales{
  width: 20%;
  height: 30px;
  background-color: #151635;
  color: #fff;
  margin-left: 40%;
  border-radius: 5px;
}
.posicion_boton_grabar_datospersonales:hover{
  background-color:rgba(0, 86, 179, 0.7);
}