
.crud_button {
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .crud_button:hover{
    background-color: #0056b3;
  }