<main class="main-content">
  <h2>{{title}}</h2>

<section>
  <div class="list-container">
   <ul>
    @for (historialPago of historialPagos; track historialPago.id )
    {<li>
      <strong>Pago n°:00-00</strong>{{historialPago.id}}<br> <hr>
      <strong>Fecha:</strong> {{ historialPago.fecha }}<br>
      <strong>Especialidad:</strong> {{ historialPago.especialidad }}<br>
      <strong>Profesional:</strong> {{ historialPago.profesional }}<br>
      <strong>Obra Social:</strong> {{ historialPago.obraSocial }}<br>
      <strong>Monto:</strong> {{ historialPago.monto }}<br>
      <strong>Estado:</strong> {{ historialPago.estado }}
    </li>
}@empty{ <li>No hay Historial de pagos.</li>}
  </ul>
</div>
</section>
</main>
