<div class="logo_login">
  <img id="calendar" src="assets/img/time-and-calendar.png" alt="">
</div>

  <div class="login-container" id="login-section">
    <h3 class="text-center">Acceso para pacientes</h3>
    <form  [formGroup]="loginForm">
      <div class="form-group">
        <label for="usuario">DNI:</label>
        <input formControlName="dni" type="text" id="usuario" name="usuario" placeholder="ingrese documento de identidad">
      </div>

      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input formControlName="password" type="password" id="contrasena" name="contrasena" placeholder="Contraseña">
      </div>

      <div *ngIf="password.invalid && (password.dirty || password.touched)"
      class="text-danger">
      <div *ngIf="password.errors?.['required']">
        Ingresar Contraseña
      </div>
    </div>

      <button type="submit" (click)="login()" class="btn-login">Iniciar Sesión</button>
      <!-- <p class="mt-5">¿No tenés cuenta?</p> -->
      <div class="espacio_5px"></div>
      <p>¿No tenés cuenta?</p>
      <button type="button" id="datos_personales_boton" class="btn-login" onclick="window.location.href='/registro'">Regístrate</button>

    </form>
    <div class="espacio_5px"></div>
  </div>






  
  <div id="registro_pacientes" class="row align-items-center" style="display: none;">
    <h2 class="text-center">Datos Personales</h2>

    <div class="row m-4">

      <!-- <label for="apellido">Apellido:</label> --> 
      <input class="input_registro" type="text" id="apellido" name="apellido" placeholder="Apellido" >
      <div class="espacio_5px"></div>
      <!-- <label for="nombre">Nombre:</label> -->
      <input class="input_registro" type="text" id="nombre" name="nombre" placeholder="Nombre">
      <div class="espacio_5px"></div>          
      <!-- <label for="telefono">Teléfono:</label> -->
      <input class="input_registro" type="tel" id="telefono" name="telefono" placeholder="Telefono" required>
      <div class="espacio_5px"></div>            
      <!-- <label for="dni">DNI:</label> -->
      <input class="input_registro" type="text" id="dni" name="dni" placeholder="DNI" required>
      <div class="espacio_5px"></div>
      <!-- <label for="mutual">Mutual:</label> -->
      <input class="input_registro" type="text" id="mutual" name="mutual" placeholder="Mutual" required>
      <div class="espacio_5px"></div>
      <!-- <label for="email">E-Mail:</label> -->
      <input class="input_registro" type="text" id="email" name="email" placeholder="Email" required>
    </div>

    <div class="mi_clase">
      <button type="submit" id="datos_personales" class="posicion_boton_grabar_datospersonales">Grabar</button>
    </div>
  </div>

  <!-- <div class="row" id="botonVolver">
    <button class="btn btn-sm col-2 m-4 align-self-center" id="volver">Volver</button>
  </div> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
  <!-- <script src="./js/login.js"></script> -->
  <script src="../../../assets/js/login.js"></script>   
