<div class="logo_login">
  <img id="calendar" src="assets/img/time-and-calendar.png" alt="">
</div>

  <div class="login-container" id="login-section">
    <h3 class="text-center">Acceso para pacientes</h3>
    <form id="login-form" onsubmit="login(event)">
      <div class="form-group">
        <label for="usuario">Usuario o Correo Electrónico:</label>
        <input type="text" id="usuario" name="usuario" placeholder="Usuario o Correo">
      </div>

      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña">
      </div>

      <button type="submit" class="btn-login">Iniciar Sesión</button>
      <p class="mt-5">¿No tenés cuenta?</p>
      <a href="./registro" class="">Registrate</a>

    </form>


  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
  <!-- <script src="./js/login.js"></script> -->
  <script src="../../../assets/js/login.js"></script>    <!-- (mirar!!!!!) -->
