<div class="container">
  <h1>Preguntas Frecuentes</h1>

  <h2>Preguntas frecuentes de Pacientes</h2>
  <ul>
    <li>
      <strong>¿Qué es Reserva Médica OnLine?</strong><br>
      Es un sistema en el que podrás tomar turno desde tu navegador sin necesidad de llamar al consultorio.
      Gracias a nuestros recordatorios de turno recibirás por mail la información del turno 24h o 48h antes del mismo. A
      través de ese medio podrás cancelarlo con un click en el caso de no poder asistir y luego tomar uno nuevo.
    </li>
    <li>
      <strong>¿Necesito registrarme para sacar un turno?</strong><br>
      Sí, para poder tomar un turno deberás iniciar sesión. De esta forma, el turno quedará registrado a tu nombre y los
      recordatorios llegarán a tus medios de contacto elegidos.
    </li>
    <li>
      <strong>¿El sistema brinda alguna constancia del turno solicitado?</strong><br>
      Sí, el sistema te enviará automáticamente un correo electrónico y un sms en cuanto hayas sacado el turno. Además
      se te enviará un recordatorio un día antes y dos horas antes del turno programado.
    </li>
    <li>
      <strong>¿Cómo reservo un turno médico?</strong><br>
      Para reservar un turno realice los siguientes pasos: inicie sesión, vaya a la seccion "Turnos", seleccione la
      especialidad, el profesional, una
      fecha y hora disponibles.
    </li>
    <li>
      <strong>¿Puedo cancelar o reprogramar un turno?</strong><br>
      Sí, puede cancelar o reprogramar desde la sección "Mis Turnos". Las cancelaciones deben hacerse con
      al menos [N horas/días] de anticipación para evitar cargos.
    </li>
  </ul>

  <h2>Preguntas frecuentes de Especialistas</h2>
  <ul>
    <li>
      <strong>¿Que es Reserva Medica Online?</strong><br>
      Docturno es un sistema de agendas digitales en la cual podrás configurar tus días y horarios de atención para que
      tus pacientes tomen turno a partir de la web las 24h del día sin necesidad de llamar al consultorio.
      En ella tendrás las fichas digitalizadas junto con sus historias clínicas (dentro del plan Customer)
      Docturno cuenta con múltiples funcionalidades incluídas en tu plan para personalizar al 100% su uso y, además,
      cuenta con funcionalidades extras como la integración de Mercado Pago para cobrar turnos o señas.
      Nuestras agendas cuentan con recordatorios de turno vía mail incluído
    </li>
    <li>
      <strong>¿Cuando un paciente toma un turno es necesario que yo lo confirme?</strong><br>
      No. El paciente podrá tomar turnos de forma autónoma en los horarios que tu configures disponibles. Si el paciente
      no va a poder asistir a la consulta, podrá cancelarlo desde la web y el horario se liberará en tu agenda. Cada
      gestión que haga algún paciente sobre tu agenda será notificado a tu email.
    </li>
    <li>
      <strong>¿El sistema indica los turnos del día?</strong><br>
      Sí, el sistema permite que puedas habilitar la opción que te recuerde los turnos que tengas el día que atendes.
    </li>
  </ul>

  <h2>Pagos y Políticas</h2>
  <ul>
    <li>
      <strong>¿Qué formas de pago aceptan?</strong><br>
      Nuestro sector de Cobranzas cuenta con numerosos medios de pago para facilitar la cancelación de los mismos:
      efectivo, tarjeta de débito y crédito, cheques al dí y transferencias bancarias. Las tarjetas que poseen
      financiación son Visa, Mastercard, Cordobesa y Naranja. Para mayor facilidad y accesibilidad ofrecemos, además, la
      opción de combinar estos medios de pago según las posibilidades de cada uno. Para más detalles podés comunicarte
      al teléfono 0800 4448812.
    </li>
    <li>
      <strong>¿Qué sucede si llego tarde a mi turno?</strong><br>
      Le recomendamos llegar a tiempo. Si llega tarde, su cita puede ser reprogramada o cancelada por medio de nuestro
      sistema pero el estado de su turno dependerá totalmente del Especialista con el cual solicitó el turno.
    </li>
  </ul>

  <h2>Soporte Técnico</h2>
  <ul>
    <li>
      <strong>¿Cómo contacto con soporte técnico?</strong><br>
      Puede contactarnos a través de nuestro numero de telefono: 02002223456 o nuestro mail:
      info&#64;reservamedica.com.
      <br>Nuestro horario de atención es de 8hs a 20 hs.
    </li>
  </ul>
</div>
