<div class="logo_turnos">
  <img id="calendar" src="assets/img/time-and-calendar.png" alt="">
</div>



<div class="menuPrincipal" id="menuPrincipal">

  <div class="div_titulo">
    <h3 class="text-center">Portal de turnos</h3>
  </div>

  <div class="div_boton_1">
    <button type="button" id="nuevoTurno" class="botones_turnos">Nuevo turno</button>
  </div>

  <div class="div_boton_2">
    <button type="button" id="misTurnos" class="botones_turnos">Mis turnos</button>
  </div>

</div>




<div id="vistaNuevoTurno" class="contenedor_turnos" style="display: none;">
  <h2 class="text-center">Registrar un nuevo turno</h2>
  <form class="container" id="formTurnos">
    <!-- <hr class="row"> -->
    <div class="row m-4">
      <div class="col-6"> 
        <select id="especialidad" class="form-select" aria-label="Default select example"  [(ngModel)]="turnoData.especialidad">
          <option value="0" selected>Especialidad</option>
        </select>
      </div>
      <div class="col-6"> <!---->
        <select id="profesional" class="form-select" aria-label="Default select example"  [(ngModel)]="turnoData.profesional">
          <option value="0" selected>Profesional</option>
        </select>
      </div>
    </div>
    <div class="row m-4">
      <div class="col-6"><!-- [(ngModel)]="Fecha"-->
        <select id="fecha" class="form-select" aria-label="Default select example" [(ngModel)]="turnoData.fecha">
          <option value="0" selected>Fecha</option>
        </select>
      </div>
      <div class="col-6"> <!-- [(ngModel)]="hora"-->
        <select id="hora" class="form-select" aria-label="Default select example" [(ngModel)]="turnoData.hora" >
          <option value="0" selected>Hora</option>
        </select>
      </div>
    </div>
    <div class="row m-4">
      <div class="col-6"> <!-- -->
        <select id="obraSocial" class="form-select" aria-label="Default select example"  [(ngModel)]="turnoData.obraSocial">
          <option value="0" selected>Obra Social</option>
        </select>
      </div>
    </div>
    <div class="row">
        <button type="submit" id="registrarNuevo" class="btn col-3 m-2" (click)="guardarTurnos()">Registrar</button>
      </div>
  </form>
</div>



<div id="vistaMisTurnos" class="contenedor_turnos" style="display: none;">
  <h2 class="text-center">Mis turnos</h2>
    <table class="table">
      <!-- <hr> -->
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombre y Apellido</th>
          <th>Especialidad</th>
          <th>Profesional</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Cancelar</th>
        </tr>
      </thead>
    </table>
</div>


<div class="menu_boton" id="menu_boton" style="display:none;">

  <div class="div_boton_4" id="boton_grabar_turno" style="display: none;">
    <button type="submit" id="registrarNuevo" class="botones_turnos">Grabar Turno</button>
    <button type="submit" id="datos_personales" class="botones_turnos" style="display: none;">Grabar Registro</button>
  </div>

  <div class="div_boton_5" id="boton_Grabar_registro" style="display: none;">
    <!-- <button type="submit" id="datos_personales" class="botones_turnos">Grabar Registro</button> -->
  </div>

  <div class="div_boton_6" id="botonVolver" style="display: none;">
    <button class="botones_turnos" id="volver">Volver</button>
  </div>

</div>
