<main>
    <section id="servicios">

      <h2 class="titulo_servicios ">Estudios médicos de baja, mediana y alta complejidad.</h2>
      <div class="servicio-container">
        <div class="servicio-container-superior servicio-container-inf">

          <div class="container-info card-inferior">
            <img class="image1 imgs" src="assets/img/imga.png" alt="Imagen servicio">
            <h3>Baja complejidad:</h3>
            <p><span class="asterisco">*</span> Análisis de sangre para medir los niveles de glucosa en pacientes con
              diabetes.</p>
            <p><span class="asterisco">*</span> Radiografía de tórax para detectar neumonía o fracturas de costillas.
            </p>
            <p><span class="asterisco">*</span> Ecografía abdominal para evaluar el hígado, el riñón y la vesícula
              biliar.</p>
            <p><span class="asterisco">*</span> Electrocardiograma (ECG) para evaluar la actividad eléctrica del
              corazón.</p>
            <p><span class="asterisco">*</span> Prueba de esfuerzo en cinta rodante para evaluar la función cardíaca
              durante el ejercicio.</p>
          </div>

          <div class="container-info card-inferior">
            <img class="image2 imgs" src="assets/img/imgb.png" alt="imagen servicio">
            <h3>Mediana complejidad:</h3>
            <p><span class="asterisco">*</span> Tomografía computarizada (TC) de abdomen para diagnosticar apendicitis
              aguda.</p>
            <p><span class="asterisco">*</span> Colonoscopia para detectar pólipos o cáncer colorrectal.</p>
            <p><span class="asterisco">*</span> Resonancia magnética (RM) de la columna vertebral para evaluar hernias
              discales.</p>
            <p><span class="asterisco">*</span> Endoscopia digestiva alta para diagnosticar úlceras estomacales o
              esofagitis.</p>
            <p><span class="asterisco">*</span> Cateterismo cardíaco para evaluar el flujo sanguíneo en las arterias
              coronarias.</p>
          </div>

          <div class="container-info card-inferior">
            <img class="image3 imgs" src="assets/img/imgc.png" alt="imagen servicio">
            <h3 class="titulo-plan">Alta complejidad:</h3>
            <p><span class="asterisco">*</span> Trasplante de médula ósea para tratar la leucemia.</p>
            <p><span class="asterisco">*</span> Cirugía de bypass coronario para restaurar el flujo sanguíneo al
              corazón.</p>
            <p><span class="asterisco">*</span> Radioterapia externa para tratar el cáncer de próstata.</p>
            <p><span class="asterisco">*</span> Quimioterapia intensiva para el tratamiento del linfoma no Hodgkin.</p>
            <p><span class="asterisco">*</span> Implante coclear para restaurar la audición en pacientes con sordera
              profunda.</p>
          </div>
        </div>
      </div>

      <!-- <div class="carousel-container">
        <div class="carousel">
          <img src="assets/img/carr-servicios-1.jpg" alt="Imagen 1">
          <img src="assets/img/carr-servicios-2.webp">
          <img src="assets/img/carr-servicios-3.webp">
          <img src="assets/img/carr-servicios-4.webp">
          <img src="assets/img/carr-servicios-5.webp">

          <img src="assets/img/carr-servicios-1.webp" alt="Imagen 1">
          <img src="assets/img/carr-servicios-2.webp">
          <img src="assets/img/carr-servicios-3.webp">
          <img src="assets/img/carr-servicios-4.webp">
          <img src="assets/img/carr-servicios-5.webp">
        </div>
      </div> -->
      <app-especial-medicas></app-especial-medicas>
      
    </section>

    <section>
      <div class="container text-center">
        <h2>Convenio con Obras Sociales</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="obra-social">
            <img src="assets/img/medife.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/osde.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/sancor.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/galeno.jpg" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/Prevencion_Salud.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/avalian.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/pami.jpg" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/apross.jpg" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/swissmedical.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/federadasalud.jpg" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/sipssa.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </main>
