<main>
    <section id="servicios">
      <!--<div class="servicios">
         <h2 class="titulo_servicios">Planes</h2>
        <div class="servicio-container">
          <div class="servicio-container-superior">
            <div class="container-info container-info1">
              <img class="image1 imgs" src="./img/plan100.jpg" alt="Imagen servicio">
              <p>* Odontología General</p>
              <p>* Internaciones Clínicas y/o Quirúrgicas</p>
              <p>* Interconsulta a kinesiología / fisiatría / fonoaudiología</p>
              <p>* Médico Personal por videoconsulta especialista en Medicina Familiar</p>
              <p>* Interconsultas con especialidades en instituciones sanatoriales seleccionadas</p>
            </div>

            <div class="container-info container-info1">
              <img class="image2 imgs" src="./img/plan200.jpg" alt="imagen servicio">
              <p>* Clínica Médica</p>
              <p>* Internación</p>
              <p>* Alta complejidad</p>
              <p>* Controles preventivos anuales</p>
              <p>* Servicio de urgencias y emergencias</p>
              <p>* Maternidad y plan Materno Infantil</p>
              <p>* La Cobertura Nacional mas amplia del país </p>
            </div>

            <div class="container-info  container-info1">
              <img class="image3 imgs" src="./img/plan300.jpg" alt="imagen servicio">
              <p>* Amplia cartilla Médica </p>
              <p>* Habitación individual</p>
              <p>* Odontología general</p>
              <p>* Prótesis odontológica</p>
              <p>* Óptica (lentes sin cargo)</p>
              <p>* Cirugía de Ojos Excimer Láser </p>
              <p>* Cobertura internacional (países limítrofes)</p>
            </div>
          </div>
        </div>

        <div class="container-consulta">
          <p>CONSULTA POR OTROS PLANES</p>
          <a href="contacto.html"><span class="button">Consultar</span></a>
        </div> 
      </div>-->

      <h2 class="titulo_servicios ">Estudios médicos de baja, mediana y alta complejidad.</h2>
      <div class="servicio-container">
        <div class="servicio-container-superior servicio-container-inf">

          <div class="container-info card-inferior">
            <img class="image1 imgs" src="assets/img/imga.png" alt="Imagen servicio">
            <h3>Baja complejidad:</h3>
            <p><span class="asterisco">*</span> Análisis de sangre para medir los niveles de glucosa en pacientes con
              diabetes.</p>
            <p><span class="asterisco">*</span> Radiografía de tórax para detectar neumonía o fracturas de costillas.
            </p>
            <p><span class="asterisco">*</span> Ecografía abdominal para evaluar el hígado, el riñón y la vesícula
              biliar.</p>
            <p><span class="asterisco">*</span> Electrocardiograma (ECG) para evaluar la actividad eléctrica del
              corazón.</p>
            <p><span class="asterisco">*</span> Prueba de esfuerzo en cinta rodante para evaluar la función cardíaca
              durante el ejercicio.</p>
          </div>

          <div class="container-info card-inferior">
            <img class="image2 imgs" src="assets/img/imgb.png" alt="imagen servicio">
            <h3>Mediana complejidad:</h3>
            <p><span class="asterisco">*</span> Tomografía computarizada (TC) de abdomen para diagnosticar apendicitis
              aguda.</p>
            <p><span class="asterisco">*</span> Colonoscopia para detectar pólipos o cáncer colorrectal.</p>
            <p><span class="asterisco">*</span> Resonancia magnética (RM) de la columna vertebral para evaluar hernias
              discales.</p>
            <p><span class="asterisco">*</span> Endoscopia digestiva alta para diagnosticar úlceras estomacales o
              esofagitis.</p>
            <p><span class="asterisco">*</span> Cateterismo cardíaco para evaluar el flujo sanguíneo en las arterias
              coronarias.</p>
          </div>

          <div class="container-info card-inferior">
            <img class="image3 imgs" src="assets/img/imgc.png" alt="imagen servicio">
            <h3 class="titulo-plan">Alta complejidad:</h3>
            <p><span class="asterisco">*</span> Trasplante de médula ósea para tratar la leucemia.</p>
            <p><span class="asterisco">*</span> Cirugía de bypass coronario para restaurar el flujo sanguíneo al
              corazón.</p>
            <p><span class="asterisco">*</span> Radioterapia externa para tratar el cáncer de próstata.</p>
            <p><span class="asterisco">*</span> Quimioterapia intensiva para el tratamiento del linfoma no Hodgkin.</p>
            <p><span class="asterisco">*</span> Implante coclear para restaurar la audición en pacientes con sordera
              profunda.</p>
          </div>
        </div>
      </div>

      <div class="carousel-container">
        <div class="carousel">
          <img src="assets/img/carr-servicios-1.jpg" alt="Imagen 1">
          <img src="assets/img/carr-servicios-2.webp">
          <img src="assets/img/carr-servicios-3.webp">
          <img src="assets/img/carr-servicios-4.webp">
          <img src="assets/img/carr-servicios-5.webp">

          <img src="assets/img/carr-servicios-1.webp" alt="Imagen 1">
          <img src="assets/img/carr-servicios-2.webp">
          <img src="assets/img/carr-servicios-3.webp">
          <img src="assets/img/carr-servicios-4.webp">
          <img src="assets/img/carr-servicios-5.webp">
        </div>
      </div>

      <div class="servicio-container">
        <div class=" container-medio">
          <div class="container-info-">
            <div class="card">
              <h3><label for="toggle-cobertura"><img src="assets/img/iconMedicina.png" alt="...">Especialidades Médicas<span
                    class="indicador">&#9660;</span></label></h3>
              <input type="checkbox" id="toggle-cobertura" class="toggle">
              <ul id="cobertura" class="lista-oculta">
                <li>Emergencias médicas</li>
                <li>Consultas médicas</li>
                <li>Pediatría</li>
                <li>Oncología</li>
                <li>Reumatología</li>
                <li>Gastroenterología</li>
                <li>Cardiología</li>
                <li>Endocrinología</li>
                <li>Odontología</li>
                <li>Oftalmología</li>
                <li>Ginecología</li>
                <li>Obstetricia</li>
                <li>Dermatología</li>
                <li>Kinesiología</li>
                <li>Psicología</li>
                <li>Fonoaudiología</li>
                <li>Internación</li>
                <li>Prótesis e implantes*</li>
                <li>Ortodoncia*</li>
                <a href="./turnos.html" class="btn">Agendar Turno</a>
              </ul>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container text-center">
        <h2>Convenio con Obras Sociales</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="obra-social">
            <img src="assets/img/medife.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/osde.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/sancor.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/galeno.jpg" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/Prevencion_Salud.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/avalian.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/pami.jpg" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/apross.jpg" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/swissmedical.png" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/federadasalud.jpg" alt="" />
          </div>
          <div class="obra-social">
            <img src="assets/img/sipssa.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </main>
