/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 8px; /* Ajustar el padding del encabezado */
    text-align: center;
    margin-bottom: 8px; /* Ajustar el margen inferior del encabezado */
}

header h1 {
    margin: 0;
    font-size: 20px; /* Tamaño de fuente del encabezado */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 8px; /* Ajustar el margen entre elementos del menú */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px; /* Tamaño de fuente de los enlaces del menú */
}

/* ----------------iniciar sesion y registrarse------------ */
.menu{
    display: flex;
    justify-content: center;
}
.enlaces{
    width:170px;
    height: 30px;
    color: #8f8989c7;
    margin-left: 60px;  
}

.body{
    width:1200px;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
}
.login_titulo{
    display: flex;
    justify-content: center; 
    align-items: center;
}


.login_titulo h1 {
 color:#474646;
 margin:30px;
}

.login_titulo img{
    padding-right: 20px;
    color:#f5e8e8; 
}
.login_titulo-img img{
    border-radius: 50%;
    position: absolute;
    top:10px;
    left:960px;
    transition: transform 1s ease-in-out;
}
.login_titulo-img img:hover{
    transform: rotateY(360deg);
}
.login_texto{
 text-align: center;
}

.login_texto a{
    text-decoration: none;
    color:#434040;
}

.login_container{
    width:600px;
    height: 500px;
    margin: 0 auto;
}
.form-container{
    height: 100%;
    background-color: #d1c5c5;
    display: flex; justify-content: space-around; margin: 0 auto;
    align-items: center;
    border-radius: 9px;
}
.form-container:hover{
    background-color: rgb(214, 202, 202);
}
.form-container label{
    background-color: #0056b3;
    margin: 20px 0;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
}
.formContainer-regPaciente label{
    margin: 12px 0;
}
#correoElectronico, #password,
#nombre, #apellido{
    width:100%;
    padding:10px;
    box-sizing: border-box;
}
#nom, #apell,
#email, #contraseña{
    width:100%;
    padding:5px;
    box-sizing: border-box;
}

.card-container1,
.card-container2 {
    flex: 1; 
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px; 
    background-color: #f0f0f0;
    height: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.224), 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-container1 img,
.card-container2 img {
    display: block; 
    margin: 0 auto; 
    cursor: pointer;
}
.card-container1 p,
.card-container2 p,
.card-container1 h2,
.card-container2 h2{
   text-align:center;
}
.card-container1 p,
.card-container2 p{
    font-weight: 500;
}
#msj{
    width: 98%;
}
/* ---------------- fin: iniciar sesion y registrarse------------ */




/* Estilos del contenido principal */
main {
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
/* Para formulario de paciente nuevo */
.form-row {
    display: flex;
    margin-bottom: 10px;
}

.form-row label {
    flex: 1;
    margin-right: 10px;
    text-align: right;
}

.form-row input,
.form-row select {
    flex: 2;
}

@media only screen and (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }

    .form-row label {
        flex: none;
        text-align: left;
    }

    .form-row input,
    .form-row select {
        flex: none;
        width: 100%;
    }
}
/* Estilos del pie de página */
footer {
    background-color: #f4f4f4;
    padding: 20px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .contact-info,
footer .useful-links {
    flex: 1;
}

footer h3 {
    margin-top: 0;
}

footer ul {
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li a {
    color: #333;
    text-decoration: none;
}

/* Estilos del mensaje de derechos de autor */
footer .copyright {
    text-align: center;
    margin-top: 20px;
}

div.banner {
    margin-bottom: 12px;
}