<main>
    <div class="contenidoPrincipal">
      <div class="misionVision">
        <h2>Nuestra Misión</h2>
        <p>
          En Reserva Médica Online, nos dedicamos a proporcionar una
          plataforma innovadora y segura para que los pacientes gestionen sus
          citas médicas de manera eficiente. Nos esforzamos por mejorar
          constantemente la experiencia del usuario y facilitar el acceso a la
          atención médica, promoviendo así la salud y el bienestar de nuestra
          comunidad.
        </p>

        <h2>Nuestra Visión</h2>
        <p>
          Buscamos ser líderes en el campo de la reserva médica en línea,
          estableciendo nuevos estándares en accesibilidad, conveniencia y
          calidad de servicio. A través de la tecnología y la colaboración con
          profesionales de la salud, aspiramos a transformar la forma en que
          las personas acceden y gestionan su atención médica, brindando un
          impacto positivo en la salud de la sociedad.
        </p>
      </div>

      <div class="equipo">
        <h2>Nuestro Equipo</h2>
        @defer{
        <div class="containerCards">
          <div class="card">
            <img [src]=imgEquipo1 />
            <h4>Juan Manuel Zalazar</h4>
            <p>Especialista en Marketing Digital</p>
          </div>

          <div class="card">
            <img [src]=imgEquipo2 />
            <h4>Vanessa Veizaga</h4>
            <p>Especialista en Marketing Digital</p>
          </div>

          <div class="card">
            <img [src]=imgEquipo3 />
            <h4>Jesica Aramayo</h4>
            <p>Desarrolladora Backend</p>
          </div>

          <div class="card">
            <img [src]=imgEquipo4 />
            <h4>Monica Antich</h4>
            <p>Desarrolladora Backend</p>
          </div>

          <div class="card">
            <img [src]=imgEquipo5 />
            <h4>Matias Sorrentino</h4>
            <p>Desarrollador Backend</p>
          </div>

          <div class="card">
            <img [src]=imgEquipo6 />
            <h4>Patricia Castillo</h4>
            <p>Desarrolladora Frontend</p>
          </div>

          <div class="card">
            <img [src]=imgEquipo7 />
            <h4>Luis Alejo Lucero</h4>
            <p>Desarrollador Frontend</p>
          </div>

          <div class="card">
            <img [src]=imgEquipo8 />
            <h4>Brenda Storello</h4>
            <p>Desarrolladora Backtend</p>
          </div>
        </div>
      }@placeholder {
        <p class="d-flex justify-content-center">Cargando...</p>
      }

      </div>
    </div>
  </main>


