.contenidoPrincipal h2 {
    color: #000000;
    padding: 8px; /* Ajustar el padding del encabezado */
    text-align: center;
    margin-bottom: 8px; /* Ajustar el margen inferior del encabezado */
    font-size: 1.7rem;
}

.equipo {
    width: auto;
    /*height: 850px;*/
    margin: 2% auto;
}

.containerCards {
    width: 100%;
    max-width: 1200px;
    /*height: 430px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card {
    width: 250px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    padding: 20px;
    background-color: #f0f0f0;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
}

.card h4 {
    font-weight: 600;
    font-size: 20px;
}

.card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.misionVision {
    margin: auto;
    width: 60%;
    /*height: 300px;*/
}
