
/* ----------servicios---------- */
#servicios{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .titulo_servicios{
    text-align: center;
    padding-bottom: 40px;
    color: #000000c5;
    text-transform: uppercase;
   
  }
  .servicio-container-superior{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .container-info {
    width: 360px; 
    height: auto;
    box-shadow: 0 0 10px 5px #2323a738;
    padding:5px 15px;
    box-sizing: border-box;   
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-inferior{
    width: 370px;
  }
  
  .container-info img {
    height: 180px;
    border-radius: 9px; 
    margin-left: 30px;
    align-self: flex-start;
  }
  
  .container-info1 img{
    border-radius:75px;
    height: 140px; 
    width: 140px; 
    margin: 0;
    margin-bottom: 30px;
    padding-bottom: 8px;  
    background-color: #00B6E7;
  }
  
  .container-info1 img,
  .container-info img{ 
    animation: aparecer 2s forwards; 
  }
  
  @keyframes aparecer {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(0); 
    }
  }
    
  .container-info h3 {
    margin-top: 10px;   
    color:#0e3c86e6;
    font-size: 18px;
    text-transform: uppercase;  
    text-align: center;
  }
  .container-info p {
    font-size: 16px;
    font-weight: 500;
    color:rgb(79, 75, 75);
  
  }
  .container-info p > .asterisco{
    color:#151635;
    font-size: 18px;
  }
  .container-consulta{
    color:#0E3D86;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin: 80px 0;  
  }
  .container-consulta a{
    text-decoration: none;
  }
  .button{
    color:#dcd5d5;
    background-color:#0E3D86 ;
    padding: 10px 10px;
    border-radius: 5px; 
  }
  .button:hover{
    color:#0E3D86 ;
    background-color:#dcd5d5;
    padding: 10px 10px;
    border-radius: 5px;
  }
  
  .card .btn {
    width: 100%;
  }
  
  .carousel-container {
    width: 100%;
    height: 150px; 
    padding-top: 40px;
  
    overflow: hidden; 
  }
  
  .carousel {
    display: flex; 
    animation: scroll 15s linear infinite; 
  }
  
  .carousel img {
    width: 20%; 
    height: 100%;
    border-radius: 8px;
    margin-right: 5px;
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1500px); } 
  }
  /* __________________________ */
  .container-medio {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  .card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px #5959ec38;
    cursor: pointer;
  }
  
  .card h3 {
    margin-bottom: 10px;  
  }
  .card img{
    width: 35px;
    padding-right: 5px;
    cursor: pointer;
  }
  .card h3 .indicador{
    margin-left: auto; 
  }
  
  .lista-oculta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; 
  }
  .lista-oculta li {
   color:#151635;
   font-weight: 500;
  }
  .toggle {
    display: none; 
  }
  
  .toggle:checked + ul {
    max-height: 700px; 
    transition: max-height 0.3s ease; 
  }
  /* 
  .toggle:checked + h3 label::after {
    content: "Cerrar"; 
  }
  .espacio_5px {
    height: 10px; /* Espacio vertical entre elementos */
  /* } */
  .obra-social img {
    width: 60%; 
    height: 70%;
  }