
<!-- src/app/components/mis-turnos/mis-turnos.component.html -->
<!-- <div class="container">
    <h2 class="text-center">Mis Turnos</h2>
    <div class="row" *ngIf="turnos.length > 0; else noTurnos">
      <div class="col-md-6" *ngFor="let turno of turnos">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Turno Registrado</h5>
            <p class="card-text"><strong>Especialidad:</strong> {{ turno.especialidad }}</p>
            <p class="card-text"><strong>Profesional:</strong> {{ turno.profesional }}</p>
            <p class="card-text"><strong>Fecha:</strong> {{ turno.fecha }}</p>
            <p class="card-text"><strong>Hora:</strong> {{ turno.hora }}</p>
            <p class="card-text"><strong>Obra Social:</strong> {{ turno.obraSocial }}</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noTurnos>
      <p class="text-center">No hay turnos registrados.</p>
    </ng-template>
  </div> -->
  <div id="vistaMisTurnos" class="contenedor_turnos">
    <h2 class="text-center">Mis turnos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Especialidad</th>
          <th>Profesional</th>
          <th>Fecha</th>
          <th>Hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnoData">
          <td>{{ turnoData.especialidad }}</td>
          <td>{{ turnoData.profesional }}</td>
          <td>{{ turnoData.fecha }}</td>
          <td>{{ turnoData.hora }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
