
  /* #navbarNav{display: flex; max-width: 1200px;} */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 8px; /* Ajustar el margen entre elementos del menú */
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 18px !important; /* Tamaño de fuente de los enlaces del menú */
  }

a.active{
  color:#fff;
  font-weight: 800;

}
.iconCarrito{
  font-size: 40px;
  display: flex;
}
.auth{
  max-width: 100vw;
 display: flex;
 align-items: center;
 gap: 0rem;
 margin-left: 45rem; 

}
.auth a {
  margin-left: 10px; 
}