
* {
    padding: 0px 0px 0px 0px;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
  }


body {
    font-family: "Fira Sans", sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  

  header {
    background-color: #151635;
    color: #fff;
    padding: 8px; 
    text-align: center;
    margin-bottom: 8px; 
  }
  
  header h1 {
    margin: 0;
    font-size: 36px; 
  }
