<div class="logo_login">
  <img id="calendar" src="assets/img/time-and-calendar.png" alt="">
</div>



<!--
 <form [formGroup]="form" (ngSubmit)="onRegistrar($event)"> -->
  <!-- <form (ngSubmit)="onSubmit()">
  <div id="registro_pacientes" class="row align-items-center singin-container">
    <h2 class="text-center">Datos Personales</h2>
    <div class="row p-4">

      <input class="input_registro" type="text" id="dni" formControlName="dni" placeholder="DNI">
      <div *ngIf="Dni?.errors && Dni?.touched" class="text-danger">
        <div *ngIf="Dni?.hasError('required')" style="font-size: 12px;">
          El DNI es requerido.
        </div>
        <div *ngIf="Dni?.hasError('invalidDni')" style="font-size: 12px;">
          Debe tener entre 7 a 8 caracteres numéricos.
        </div>
      </div> -->


      <!-- <input class="input_registro" type="text" id="apellido" formControlName="apellido" placeholder="Apellido">
      <div *ngIf="Apellido?.errors && Apellido?.touched" class="text-danger">
        <div *ngIf="Apellido?.hasError('required')">
          El Apellido es requerido.
        </div>
        <div *ngIf="Apellido?.hasError('invalidName')">
          Debe tener al menos 3 caracteres y no debe contener números.
        </div>
      </div> -->

      <!-- <input class="input_registro" type="text" id="nombre" formControlName="nombre" placeholder="Nombre">
      <input class="input_registro" type="text" id="nombre" formControlName="nombre" placeholder="Nombre">
      <div *ngIf="Nombre?.errors && Nombre?.touched" class="text-danger">
        <div *ngIf="Nombre?.hasError('required')" style="font-size: 12px;">
          El Nombre es requerido.
        </div>
        <div *ngIf="Nombre?.hasError('invalidName')" style="font-size: 12px;">
          Debe tener al menos 3 caracteres y no debe contener números.
        </div>
      </div>
      <input class="input_registro" type="text" id="apellido" formControlName="apellido" placeholder="Apellido">
      <div *ngIf="Apellido?.errors && Apellido?.touched" class="text-danger">
        <div *ngIf="Apellido?.hasError('required')" style="font-size: 12px;">
          El Apellido es requerido.
        </div>
        <div *ngIf="Apellido?.hasError('invalidName')" style="font-size: 12px;">
          Debe tener al menos 3 caracteres y no debe contener números.
        </div>
      </div>
      </div> -->

      <!-- <input class="input_registro" type="tel" id="telefono" formControlName="telefono" placeholder="Telefono">
      <div *ngIf="Telefono?.errors && Telefono?.touched" class="text-danger">
        <div *ngIf="Telefono?.hasError('required')">
          El Telefono es requerido.
        </div>
        <div *ngIf="Telefono?.hasError('invalidTelefono')">
          Debe tener 10 digitos, sin espacio ni 0 en codigo de provincia. Ej: 3518888888
        </div>
      </div> -->

      <!-- <input class="input_registro" type="text" id="dni" formControlName="dni" placeholder="DNI">
      <div *ngIf="Dni?.errors && Dni?.touched" class="text-danger">
        <div *ngIf="Dni?.hasError('required')">
          El DNI es requerido.
        </div>
        <div *ngIf="Dni?.hasError('invalidDni')">
          Debe tener entre 7 a 8 caracteres numéricos.
        </div>
      </div> -->

      <!-- <input class="input_registro" type="text" id="mutual" formControlName="mutual" placeholder="Mutual">
      <div *ngIf="Mutual?.errors && Mutual?.touched" class="text-danger">
        <div *ngIf="Mutual?.hasError('required')">
          La Mutual es requerida.
        </div>
        <div *ngIf="Mutual?.hasError('invalidMutual')">
          Debe tener al menos 3 caracteres y no debe contener números.
        </div>

      </div> -->

      <!-- <input class="input_registro" type="text" id="email" formControlName="email" placeholder="Email">
      <div *ngIf="Email?.errors && Email?.touched" class="text-danger">
        <div *ngIf="Email?.hasError('required')" style="font-size: 12px;">
          El Email es requerido.
        </div>
        <div *ngIf="Email?.hasError('invalidEmail')" style="font-size: 12px;">
          Introducir una dirección de correo electrónico válida con el formato example&#64;example.com
        </div>
      </div>

      <input class="input_registro" type="password" id="password" formControlName="password" placeholder="Contraseña">
      <div *ngIf="Password?.errors && Password?.touched" class="text-danger">
        <div *ngIf="Password?.hasError('required')" style="font-size: 12px;">
          La constraseña es requerida.
        </div>
        <div *ngIf="Password?.hasError('invalidPassword')" style="font-size: 12px;">
          Debe tener al menos 6 caracteres y maximo 20, al menos una letra mayúscula, un número y un símbolo.
        </div>
      </div>
      <input class="input_registro" type="text" id="password2" formControlName="password2" placeholder="Repetir Contraseña">
      <div *ngIf="Password?.errors && Password?.touched" class="text-danger">
        <div *ngIf="Password?.hasError('required')" style="font-size: 12px;">
          La constraseña es requerida.
        </div>
        <div *ngIf="Password?.hasError('invalidPassword')" style="font-size: 12px;">
          Debe tener al menos 6 caracteres y maximo 20, al menos una letra mayúscula, un número y un símbolo.
        </div>
      </div>
    </div>

    <div class="mi_clase">
      <button type="submit" id="datos_personales" class="posicion_boton_grabar_datospersonales btn-singin">Registrarse</button>
    </div>
  </div>
</form> -->

<form [formGroup]="form" (ngSubmit)="onSubmit($event)"  #registerForm="ngForm">
  <div id="registro_pacientes" class="row align-items-center singin-container">
  <label for="username">DNI:</label>
  <input type="text" id="username" [(ngModel)]="user.username" name="username" formControlName="dni">
  @if (Dni?.errors && Dni?.touched) {
    @if (Dni?.hasError('required'))
    {
      <p class="text-danger">
      El DNI es requerido.
      </p>
    }
    @else if (Dni?.hasError('dni'))
    {
      <p class="text-danger">
      El formato del DNI debe ser válido.
      </p>
    }
  }

  <label for="first_name">Nombre:</label>
  <input type="text" id="first_name" [(ngModel)]="user.first_name" name="first_name" formControlName="nombre">
  @if (Nombre?.errors && Nombre?.touched) {
    @if (Nombre?.hasError('required'))
    {
      <p class="text-danger">
      El Nombre es requerido.
      </p>
    }
    @else if (Nombre?.hasError('nombre'))
    {
      <p class="text-danger">
      El formato del Nombre debe ser válido.
      </p>
    }
  }

  <label for="last_name">Apellido:</label>
  <input type="text" id="last_name" [(ngModel)]="user.last_name" name="last_name" formControlName="apellido">
  <!-- <div *ngIf="Apellido?.errors && Apellido?.touched" class="text-danger">
    <div *ngIf="Apellido?.hasError('required')">
      El Apellido es requerido.
    </div>
    <div *ngIf="Apellido?.hasError('invalidName')">
      Debe tener al menos 3 caracteres y no debe contener números.
    </div>
  </div> -->
  @if (Apellido?.errors && Apellido?.touched) {
    @if (Apellido?.hasError('required'))
    {
      <p class="text-danger">
      El Apellido es requerido.
      </p>
    }
    @else if (Apellido?.hasError('apellido'))
    {
      <p class="text-danger">
      El formato del Apellido debe ser válido.
      </p>
    }
  }
  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="user.email" name="email" formControlName="email">
  @if (Email?.errors && Email?.touched) {
    @if (Email?.hasError('required'))
    {
      <p class="text-danger">
      El email es requerido.
      </p>
    }
    @else if (Email?.hasError('email'))
    {
      <p class="text-danger">
      El formato del email debe ser válido.
      </p>
    }
  }

  <label for="password">Password:</label>
  <input type="password" id="password" [(ngModel)]="user.password" name="password" formControlName="password">
  @if (Password?.errors && Password?.touched) {
    @if (Password?.hasError('required'))
    {
      <p class="text-danger">
      La contraseña es requerida.
      </p>
    }
    @else if (Password?.hasError('password'))
    {
      <p class="text-danger">
      El formato de la contraseña debe ser válido.
      </p>
    }
  }
  <div class="mt-3">

  </div>

  <button type="submit" class="posicion_boton_grabar_datospersonales btn-singin">Registrarse</button>
  </div>
</form>

