<div class="container">
    <h1>Términos y Condiciones de Reserva Médica Online</h1>

    <p>Estos Términos y Condiciones ("T&C") rigen el uso de Reserva Médica Online . Al usar nuestros servicios
        de reserva médica online ("los Servicios"), usted ("el Usuario") acepta cumplir con estos T&C. Si no
        está de acuerdo con estos T&C, debe dejar de usar nuestros Servicios.</p>

    <h2>1. Uso de los Servicios</h2>
    <p>Los Servicios están destinados a permitir a los usuarios reservar turnos médicos, programar estudios y
        gestionar su historial médico. Al utilizar los Servicios, usted acepta lo siguiente:</p>
    <ul>
        <li>Información Veraz: Debe proporcionar información precisa y actualizada al registrarse y usar los
            Servicios.</li>
        <li>Uso Responsable: No debe usar los Servicios para actividades ilegales o no autorizadas.</li>
        <li>Acceso Restringido: Nos reservamos el derecho de restringir o cancelar su acceso si se detecta un
            uso indebido.</li>
    </ul>

    <h2>2. Reservas y Cancelaciones</h2>
    <p>Los usuarios pueden reservar turnos médicos a través de nuestros Servicios. Para cancelar o reprogramar
        una reserva, debe seguir las siguientes reglas:</p>
    <ul>
        <li>Política de Cancelación: Las cancelaciones deben realizarse con al menos 24 hs de antelación para
            evitar cargos.</li>
        <li>Política de Reprogramación: Las reprogramaciones están sujetas a la disponibilidad de horarios y
            profesionales.</li>
        <li>Cargos por Cancelación: Se puede aplicar un cargo por cancelación tardía o no presentación.</li>
    </ul>

    <h2>3. Limitación de Responsabilidad</h2>
    <p>La Compañía no será responsable por:</p>
    <ul>
        <li>Daños o Pérdidas: Cualquier daño o pérdida resultante del uso de los Servicios.</li>
        <li>Errores o Interrupciones: Fallas técnicas o interrupciones fuera de nuestro control.</li>
        <li>Terceros: Acciones o conductas de terceros, incluidos profesionales de la salud.</li>
    </ul>

    <h2>4. Propiedad Intelectual</h2>
    <p>Todo el contenido y material en nuestros Servicios, incluidos logotipos, texto, gráficos y diseños, son
        propiedad de la Compañía o sus licenciantes. Usted no puede usar ni reproducir estos materiales sin
        permiso expreso por escrito.</p>

    <h2>5. Cambios a Estos Términos y Condiciones</h2>
    <p>Podemos actualizar estos T&C de vez en cuando. Si hacemos cambios significativos, le notificaremos a
        través de nuestros Servicios o por correo electrónico. Al continuar usando los Servicios después de
        dichos cambios, usted acepta cumplir con los T&C actualizados.</p>

    <h2>6. Contacto</h2>
    <p>Si tiene preguntas sobre estos Términos y Condiciones, contáctenos.</p>

    <a href="../index.html" class="btn-volver">Volver al Inicio</a> <!-- Botón para volver al inicio -->
</div>
