<main>
    <section id="servicios">     
      <div class="contenedor__servicio">
        <h2 class="titulo_servicios">Especialidades Médicas</h2>

      <div class="fila">
      @for (especialidad of especialidadesList; track especialidad.id ){
       
        <div class="tarjeta">
          <!-- <img [src]=especialidad.img [alt]="especialidad.alt" > -->
          <h3>{{especialidad.titulo}}  <span class="material-symbols-outlined"><div class="iconCarrito" (click)="agregarCarrito(especialidad)">shopping_cart</div>
            <span class="badge" [ngClass]="{'active': especialidad.cantidadEnCarrito > 0}">{{ especialidad.cantidadEnCarrito }}
            </span>
          </span><span class="precio">${{especialidad.precio}}</span></h3> 
          
          <p >{{especialidad.descripcion}}</p>
           <a class="contenedor__asociar" href="turnos" ><button class="button__asociar">Agendar Turno</button></a>
        </div>
  
     }
     @empty {
     <p>There are no profesional items.</p>
     }
    </div>

  </div>

  </section>
</main>
