<main>
    <section id="servicios">     
      <div class="contenedor__servicio">
        <h2 class="titulo_servicios">Especialidades Médicas</h2>
        <div class="fila">
            <div class="tarjeta">
                <img src="/assets/img/clinico.jpg" alt="Clinico">
                <h3>Medico Clinico</h3>
                <p> Ofrecemos una atención dedicada y comprensiva para abordar tus necesidades médicas generales. Con experiencia y empatía, trabajamos para proporcionarte cuidados personalizados que promuevan tu bienestar a largo plazo. Estamos aquí para ser tu aliado en el camino hacia una salud óptima y una vida plena.</p>
            
                <a  class="contenedor__asociar" href="turnos.html">
                  <button class="button__asociar">Agendar Turno</button>
                </a>
           
              </div>
            <div class="tarjeta">
              <img src="assets/img/pediatra.jpg" alt="pediatria">
              <h3>Pediatría</h3>
              <p>Cuidamos de tus hijos con dedicación. Somos especialistas en el cuidado infantil, atendemos todas las necesidades de salud de tus hijos, desde consultas rutinarias hasta situaciones urgentes, asegurando el bienestar y la felicidad de cada niño quienes recibirán el cuidado cariñoso y profesional que merecen.</p>
              <a  class="contenedor__asociar" href="turnos.html">
                <button class="button__asociar">Agendar Turno</button>
              </a>
            </div>
          <div class="tarjeta">
            <img src="assets/img/oncologia.jpg" alt="oncologia">
            <h3>Oncología</h3>
            <p>Nuestro servicio de Oncología ofrece atención médica especializada y compasiva para pacientes con cáncer. Con un equipo experto y dedicado, estamos comprometidos a brindar el mejor cuidado posible, apoyando a nuestros pacientes y sus familias en cada paso del camino hacia la recuperación.</p>
            <a  class="contenedor__asociar" href="turnos.html">
              <button class="button__asociar">Agendar Turno</button>
            </a>
          </div>
        <div class="tarjeta">
          <img src="assets/img/cardiologia.jpg" alt="cardiologia">
          <h3>Cardiología</h3>
          <p>Ofrecemos atención médica cuidadosa para pacientes con problemas cardíacos. Con un equipo altamente capacitado y tecnología de vanguardia, nos dedicados a cuidar de tu corazón y tu salud cardiovascular. Confía en nosotros para brindarte la atención que necesitas para mantener un corazón sano y una vida plena.</p>
          <a  class="contenedor__asociar" href="turnos.html">
            <button class="button__asociar">Agendar Turno</button>
          </a>
        </div>
      </div>

        <div class="fila">
            <div class="tarjeta">
                <img src="assets/img/gastroenterologia.jpg" alt="gastroenterologia">
                <h3>Gastroenterología</h3>
                <p>Nuestra especialidad en Gastroenterología ofrece un enfoque experto y compasivo para tratar problemas digestivos y del tracto gastrointestinal. Con un equipo médico dedicado y experimentado, nos esforzamos por proporcionar soluciones efectivas que promuevan tu bienestar digestivo y mejoren tu calidad de vida</p>
                <a  class="contenedor__asociar" href="turnos.html">
                  <button class="button__asociar">Agendar Turno</button>
                </a>
              </div>
            <div class="tarjeta">
              <img src="assets/img/endocrinologia.jpg" alt="Endocrinología">
              <h3>Endocrinología</h3>
              <p>Nos dedicamos a abordar desórdenes hormonales y problemas metabólicos con atención especializada y compasiva. Estamos comprometidos a ofrecerte soluciones personalizadas y cuidados integrales para promover tu salud y bienestar. Estamos aquí para trabajar contigo en cada paso del camino hacia una vida más saludable y equilibrada.</p>
              <a  class="contenedor__asociar" href="turnos.html">
                <button class="button__asociar">Agendar Turno</button>
              </a>
            </div>
              <div class="tarjeta">
              <img src="assets/img/reumatologia.jpg" alt="Reumatología">
              <h3>Reumatología</h3>
              <p> Nos especializamos en el tratamiento de enfermedades relacionadas con los tejidos blandos, las articulaciones y el sistema inmunológico. Nos comprometemos a proporcionar un enfoque integral y personalizado para abordar tus necesidades de salud. Trabajamos para mejorar tu calidad de vida y promover tu bienestar general..</p>
              <a  class="contenedor__asociar" href="turnos.html">
                <button class="button__asociar">Agendar Turno</button>
              </a>
            </div>
          <div class="tarjeta">
            <img src="assets/img/ginecologia.jpg" alt="Ginecología">
            <h3>Ginecología</h3>
            <p>En nuestro servicio de Ginecología, nos enfocamos en la salud integral de la mujer. Nuestro equipo especializado ofrece atención personalizada y comprensiva para abordar tus necesidades, desde exámenes de rutina hasta tratamientos especializados,  Estamos aquí para cuidarte y apoyarte en todas las etapas de tu vida.</p>
            <a  class="contenedor__asociar" href="turnos.html">
              <button class="button__asociar">Agendar Turno</button>
            </a>
          </div>
        </div>

        <div class="fila">
          <div class="tarjeta">
              <img src="assets/img/obstetricia.jpg" alt="Obstetricia">
              <h3>Obstetricia</h3>
              <p>Nos dedicamos al cuidado especializado de la salud materna y fetal durante el embarazo y el parto. Nuestro equipo médico altamente capacitado ofrece atención compasiva y experta para garantizar un embarazo saludable y un parto seguro. Estamos aquí para acompañarte en este viaje único y especial de tu vida.</p>
              <a  class="contenedor__asociar" href="turnos.html">
                <button class="button__asociar">Agendar Turno</button>
              </a>
            </div>
          <div class="tarjeta">
            <img src="assets/img/dermatologia.jpg" alt="Dermatología">
            <h3>Dermatología</h3>
            <p>Estamos enfocados en el cuidado de la piel, el cabello y las uñas. Te ofrecemos atención experta y personalizada para una amplia gama de condiciones dermatológicas. Te ayudamos a mantener una piel saludable y radiante, brindándote soluciones efectivas para que te sientas seguro y confiado en tu propia piel.</p>
            <a  class="contenedor__asociar" href="turnos.html">
              <button class="button__asociar">Agendar Turno</button>
            </a>
          </div>
            <div class="tarjeta">
            <img src="assets/img/psicologia.jpg" alt="Psicología">
            <h3>Psicología</h3>
            <p> Dedicados al cuidado integral de la salud mental y emocional. Ofrecemos terapia personalizada y apoyo compasivo para ayudarte a superar los desafíos y mejorar tu bienestar psicológico. Te brindamos las herramientas y el acompañamiento necesario para que puedas alcanzar una vida más equilibrada y satisfactoria.</p>
            <a  class="contenedor__asociar" href="turnos.html">
              <button class="button__asociar">Agendar Turno</button>
            </a>
          </div>
        <div class="tarjeta">
          <img src="assets/img/internacion.jpg" alt="Internación">
          <h3>Internación</h3>
          <p>Nuestro servicio de Emergencias Médicas ofrece atención inmediata y experta en situaciones críticas. Con un equipo altamente capacitado y equipamiento de vanguardia, estamos listos para brindarte la ayuda que necesitas en cualquier momento. Tu seguridad y bienestar son nuestra prioridad número uno.</p>
          <a  class="contenedor__asociar" href="turnos.html">
            <button class="button__asociar">Agendar Turno</button>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
