<div class="footerTurnos">
    <div class="container row row-cols-1 row-cols-sm-3">
      <div>
        <h3>Reservas Médicas Online</h3>
      </div>
      <div class="contact-info">
        <h3>Contacto</h3>
        <p><strong>Teléfono:</strong> 08002223456</p>
        <p><strong>Email:</strong> info&#64;reservamedica.com</p>
        <p>
          <strong>Dirección:</strong> Av. Valparaiso 1200 Cordoba Argentina
        </p>
      </div>
      <div class="useful-links">
        <h3>Enlaces Útiles</h3>
        <ul>
          <li><a href="./frontEnd/preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
          <li><a href="./frontEnd/terminosycondiciones.html">Términos y Condiciones</a></li>
          <li><a href="./frontEnd/politicas.html">Política de Privacidad</a></li>
        </ul>
      </div>
      
      <div class="copyright">
        <p>&copy; 2024 Reserva Médica Online. Todos los derechos reservados.</p>
      </div>
      
  </div>