<main>
  <h2>{{title}}</h2>
  <div class="container">
    <div class="cliente-form-container">
      <form>
        <label for="apellido">Apellido:</label>
        <input class="input_registro" type="text" id="apellido" name="apellido" placeholder="Apellido"
          [(ngModel)]="usuarioData.apellido">
        <div class="espacio_5px"></div>
        <label for="nombre">Nombre:</label>
        <input class="input_registro" type="text" id="nombre" name="nombre" placeholder="Nombre"
          [(ngModel)]="usuarioData.nombre">
        <div class="espacio_5px"></div>
        <label for="telefono">Telefono:</label>
        <input class="input_registro" type="tel" id="telefono" name="telefono" placeholder="Telefono"
          [(ngModel)]="usuarioData.telefono">
        <div class="espacio_5px"></div>
        <label for="dni">DNI:</label>
        <input class="input_registro" type="text" id="dni" name="dni" placeholder="DNI" [(ngModel)]="usuarioData.dni">
        <div class="espacio_5px"></div>
        <label for="obraSocial">Obra Social:</label>
        <input class="input_registro" type="text" id="obraSocial" name="obraSocial" placeholder="obraSocial"
          [(ngModel)]="usuarioData.obraSocial">
        <div class="espacio_5px"></div>
        <label for="email">Email:</label>
        <input class="input_registro" type="text" id="email" name="email" placeholder="Email"
          [(ngModel)]="usuarioData.email">

        <div class="mi_clase">
          <button type="submit" class="posicion_boton_grabar_datospersonales" (click)="actualizarDatos()">Actualizar
            Datos</button>
        </div>

      </form>
    </div>

    <div *ngIf="updated" class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Datos Actualizados</h5>
          <p class="card-text"><strong>Apellido:</strong> {{ usuarioData.apellido }}</p>
          <p class="card-text"><strong>Nombre:</strong> {{ usuarioData.nombre }}</p>
          <p class="card-text"><strong>Teléfono:</strong> {{ usuarioData.telefono }}</p>
          <p class="card-text"><strong>DNI:</strong> {{ usuarioData.dni }}</p>
          <p class="card-text"><strong>Mutual:</strong> {{ usuarioData.obraSocial }}</p>
          <p class="card-text"><strong>Email:</strong> {{ usuarioData.email }}</p>
        </div>
        <div class="mi_clase">
          <button class="posicion_boton_guardar_datospersonales" (click)="guardarDatos()">Guardar Datos</button>
        </div>
      </div>
    </div>

  </div>
</main>
