  <main>
    <section id="carrito">
      <h2>Carrito de Compras</h2>
      <div *ngIf="carritoItems.length > 0; else emptyCart">
        <table>
          <thead>
            <tr>
              <th>Especialidad</th>
              <th>Fecha <span></span>  Horario</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of carritoItems; let i= index">
              <td>{{ item.titulo }}</td>
              <div class="input">
                <input type="date" [(ngModel)]="item.fecha" (change)="actualizarFechaHorario(i, item.fecha, $event)" placeholder="Fecha"><span class="espaciado"></span>
                <input type="time" [(ngModel)]="item.horario" (change)="actualizarFechaHorario(i, item.horario, $event)" placeholder="Horario">
              </div>
              <td>${{ item.precio }}</td>
              <td>{{ item.cantidad }}</td>
              <td>${{ item.precio * item.cantidad }}</td> 
            </tr>
            <td class="td-pagar">Total a pagar: ${{ total }}</td>
          </tbody>
        </table> 
      </div>
      <ng-template #emptyCart>
        <p>El carrito está vacío.</p>
      </ng-template>
    </section>
  </main>
  