<main>
    <section>
      <div id="carouselExampleInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000"> 
            <img src="assets/img/carrusel1.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/img/carrusel2.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/img/carrusel3.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/img/carrusel4.jpg" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section>
      <div class="container text-center">
        <h2>Cifras que respaldan nuestros servicios</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div>
            <img src="assets/img/trabajo-evualuado.png" alt="" />
            <div class="col">Personas atendidas</div>
          </div>
          <div>
            <img src="assets/img/empresas-clientes.png" alt="" />
            <div class="col">Empresas Clientes</div>
          </div>
          <div>
            <img src="assets/img/experiencia.png" alt="" />
            <div class="col">De experiencia</div>
          </div>
          <div>
            <img src="assets/img/encuestas.png" alt="" />
            <div class="col">En encuestas de satisfacción</div>
          </div>
          <div>
            <img src="assets/img/servicios-prestados.png" alt="" />
            <div class="col">Servicios prestados</div>
          </div>
          <div>
            <img src="assets/img/profesionales.png" alt="" />
            <div class="col">Profesionales</div>
          </div>
        </div>
      </div>
    </section>
  </main>
