<main>
    <section>
      <div id="carouselExampleInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000"> 
            <img id="img1" [src]=image1 >
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img id="img2" [src]=image2 >

          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img id="img3" [src]=image3 >

          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img id="img4" [src]=image4 >

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section>
      <div class="container text-center">
        <h2>Cifras que respaldan nuestros servicios</h2>
        @defer{
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div>
            <img [src]=imagen5 alt="" />
            <div class="col">Personas atendidas</div>
          </div>
          <div>
            <img [src]=imagen6 alt="" />
            <div class="col">Empresas Clientes</div>
          </div>
          <div>
            <img [src]=imagen7 alt="" />
            <div class="col">De experiencia</div>
          </div>
          <div>
            <img [src]=imagen8 alt="" />
            <div class="col">En encuestas de satisfacción</div>
          </div>
          <div>
            <img [src]=imagen9 alt="" />
            <div class="col">Servicios prestados</div>
          </div>
          <div>
            <img [src]=imagen10 alt="" />
            <div class="col">Profesionales</div>
          </div>
        </div>
      }@placeholder {
        <p class="d-flex justify-content-center align-items-center">Cargando...</p>
      }
      </div>
    </section>
  </main>
